{%extends 'base.html' %}
{% load static %}
{%block title%}
CBIT Shruti Admin
{%endblock%}



{%block main%}

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">

		<!-- Main Content -->
		<div id="content p-0">

			<!-- Topbar -->
			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow pb-2">

				<div class="navbar-header">
					<h1 class=" px-2  text-primary">Anudip Foundation</h1>
				</div>

				<!-- Sidebar Toggle (Topbar) -->
				
							 
			
			   </nav>
			   
			 

				<!-- Topbar Navbar -->
				
					
</div>

<div class="w3-content w3-section" style="max-width:1000px">
	<div class="pricing" id="pricingdiv">
        <div class="container headings text-center">
          <h1 class="font-weight-bold text-black">What we do ?
          </h1>
          <P>Anudip Foundation fulfils the corporate social responsibility goals of enterprises that caters to the social welfare department of corporates.
          </P>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="card text-center">
                <div class="card-header">HISTORY</div>
                <div class="card-body">
<p>
  In early 2005, under the leadership of current Chairman Dipak Basu, Actionaid and Reuters Foundation carried out an ethnographic study in the Ganges Delta region south of Kolkata, India’s third-largest city, which showed that economies of desperately poor and marginalized people can be dramatically impacted by increase of local employment.

 


</p>
                </div>
              
              </div>
              
            </div>

            <div class="col-md-4 col-12 card-second">
              <div class="card text-center">
                <div class="card-header">COURSES</div>
                <div class="card-body">
                  <ul>
                    
                    <li>Communicative english</li>
                    <li>Web teck</li>
                    <li>Math</li>
                    <li>Data science</li>
                  

                  </ul>
                </div>
                
              </div>
              
            </div>

            <div class="col-md-4 col-12">
              <div class="card text-center">
                <div class="card-header">SKILL DEVELOPMENT TRAINING</div>
                <div class="card-body">
                  <p>Anudip transforms lives by creating aspirational livelihoods through digital inclusion in emerging economies. A nonprofit company with operations in India and USA, Anudip has been empowering motivated young job aspirants from difficult backgrounds since 2007</p>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
				
				</div>
				
				

				
			  
			  
{%endblock%}