<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="mobiliser_style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <title>Anudip Accounts - Log In</title>
  </head>
  <body>
    <main>
      <header class="logoSection">
        <a href="#">
          <img src="Anudip Logo.png" alt="Anudip logo" class="mainLogo" />
        </a>
      </header>
      <section class="mainSection">
        <h2>
          Login to an Anudip account
        </h2>
        <a href="#" class="learMore">
          Learn More
        </a>
        <form>
          <div class="email">
            <label for="email"> Email </label><br />
            <input type="text" name="email" id="email" />
          </div>

          <div class="password">
            <label for="password"> Password </label><br />

            <input type="password" name="password" id="password">
          </div>
          <button class="login"><i class="fas fa-lock"></i>
            Login
          </button>
          <br />
        </form>
      </section>
    </main>

  </body>
</html>
