<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <title>Anudip Accounts - Sign Up</title>
  </head>
  <body>
    <header class="topMost">
      <div class="signIn">
        <div>
          Already have an Anudip account?
          <br />
          <a href="#">I forgot my User ID or Password</a>
        </div>
        <div>
          <button type="submit" class="signinBtn"><i class="fas fa-lock"></i>Sign In</button>
        </div>
      </div>
    </header>
    <main>
      <header class="logoSection">
        <a href="#">
          <img src="Anudip Logo.png" alt="Anudip logo" class="mainLogo" />
        </a>
      </header>
      <section class="mainSection">
        <h2>
          Details
        </h2>
        <span> All deatils are mandatory </span><br />
        <a href="#" class="learMore">
          Learn More
        </a>
        <form>
          <div class="email">
            <label for="email"> Mobiliser Email </label><br />
            <input type="text" name="email" id="email" />
          </div>
          <div class="phone">
            <label for="phone">
              Mobiliser Phone
            </label>
            <br />
            <input type="number" name="phone" id="phone" />
            <label class="standard">
              Standard call, messaging or data rates may apply.
            </label>
          </div>

          <div class="email">
            <label for="mobiliser_id"> Mobiliser ID </label><br />
            <input type="text" name="mobiliser_id" id="mobiliser_id" />
          </div>

          <div class="email">
            <label for="date"> Date </label><br />
            <input type="text" name="date" id="date" />
          </div>


          <div class="email">
            <label for="location"> Location </label><br />
            <input type="text" name="location" id="location" />
          </div>


          <div class="email">
            <label for="user_name"> User Name </label><br />
            <input type="text" name="user_name" id="user_name" />
          </div>

          <div class="email">
            <label for="user_contact"> User Contact </label><br />
            <input type="text" name="user_contact" id="user_contact" />
          </div>

          <div class="email">
            <label for="user_email"> User Email </label><br />
            <input type="text" name="user_email" id="user_email" />
          </div>

          <div class="email">
            <label for="activity_1"> Act 1 </label><br />
            <input type="text" name="activity_1" id="activity_1" />
          </div>

          <div class="email">
            <label for="activity_2"> Act 2 </label><br />
            <input type="text" name="activity_2" id="activity_2" />
          </div>

          <div class="email">
            <label for="activity_3"> Act 3 </label><br />
            <input type="text" name="activity_3" id="activity_3" />
          </div>

          <div class="email">
            <label for="activity_4"> Act 4 </label><br />
            <input type="text" name="activity_4" id="activity_4" />
          </div>

          <div class="email">
            <label for="activity_5"> Act 5 </label><br />
            <input type="text" name="activity_5" id="activity_5" />
          </div>

          <button class="submit"><i class="fas fa-lock"></i>
            Submit
          </button>

        </form>
      </section>
    </main>

  </body>
</html>
